:root{
    --intro-bg-color: hsl(217, 28%, 15%);
    --main-bg-color: hsl(218, 28%, 13%);
    --footer-bg-color: hsl(216, 53%, 9%);
    --testimonial-bg-color: hsl(219, 30%, 18%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    color: rgba(255,255,255,0.85);
}
.supreme-container{
    min-width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    background-color: var(--main-bg-color);
}
.nav-container{
    background-color: var(--intro-bg-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid white;*/
    min-height: 150px;
    padding-left: max(5vw, 50px);
    padding-right: max(5vw, 50px);
}
.main-nav{
    /*background-color: rgba(255,255,255,0.1);*/
    width: 17%;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
}
.main-nav a{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: rgba(255,255,255,0.7);
    transition: all 0.2s ease;
}
.main-nav a:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.first-sec{
    background-color: var(--intro-bg-color);
    background-image: url("./images/bg-curvy-desktop.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid white;*/
    padding-top: 40px;
    padding-bottom: 40px;
}
.first-sec-content{
    width: 40%;
    min-width: 700px;
    text-align: center;
}
.big-header{
    font-family: "Raleway", sans-serif;
    font-size: 2.4rem;
}
.first-sec-header{
    margin: 20px 0;
}
.first-sec-text{
    min-width: 500px;
    width: 30%;
    margin: 30px auto;
}
.button{
    padding: 1rem 5rem;
    background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border: none;
    border-radius: 1.5rem;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.2s ease-in;
}
.button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, hsl(176, 68%, 84%), hsl(198, 60%, 70%));
}
.second-sec{
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    height: 850px;
    align-items: center;
}
.second-sec-item{
    /*background-color: rgba(255,255,255,0.2);*/
    width: 50%;
    min-width: 369px;
    margin: 50px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid white;*/
}
.second-sec-img{
    margin-bottom: 8%;
}
.second-sec-item-title{
    margin-bottom: 3%;
}
.top-left, .bottom-left{
    justify-self: end;
}
.third-sec{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 700px;
}
.third-sec-illustration{
    max-width: 50%;
}
.third-sec-content{
    width: 40%;
    margin-left: 20px;
}
.third-sec-header{
    /*background-color: rgba(255,255,255,0.1);*/
    width: 60%;
    margin-bottom: 30px;
}
.third-sec-text{
    /*background-color: rgba(255,255,255,0.1);*/
    width: 75%;
    margin-bottom: 20px;
}
.third-sec-link{
    color: hsla(176, 68%, 64%, 0.8);
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid hsla(176, 68%, 64%, 0.8);
    position: relative;
    transition: all 0.2s ease-in;
}
.third-sec-link::after{
    content: url("./images/icon-arrow.svg");
    position: absolute;
    top: 3px;
    right: -20px;
}
.third-sec-link:hover{
    color: white;
    border-color: white;
}
.testimonials-section
{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: max(30vh, 300px);
}
.testimonial{
    width: 28%;
    background-color: var(--testimonial-bg-color);
    padding: 30px;
    margin: 0 20px;
    border-radius: 10px;
}
.person-container{
    display: flex;
    justify-content: start;
    align-items: center;
}
.testimonial-text{
    margin-bottom: max(3vh, 25px);
}
.person-container img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.person-name{
    font-weight: 700;
}
.get-access-card{
    background-color: var(--intro-bg-color); /*-----------------------------------u stopped here son*/
    width: max(750px,50%);
    height: max(20vh,250px);
    left: 0;
    margin: auto;
    padding: 30px 50px;
    position: relative;
    transform: translateY(50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.get-access-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 90px;
}
.email-and-error{
    width: 69%;
    display: flex;
    flex-direction: column;
}
.email-input{
    padding: 1rem 2rem;
    border-radius: 1.6rem;
    width: 100%;
}
.error-msg{
    color: hsl(0, 100%, 63%);
    font-size: 12px;
    /*background-color: rgba(255,255,255,0.1);*/
    text-align: left;
    padding-left: 4rem;
    display: none;
}
.get-access-button{
    width: 30%;
    padding: 1rem;
}
.footer-container{
    background-color: var(--footer-bg-color);
    padding-left: max(5vw, 50px);
    padding-right: max(5vw, 50px);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.footer-logo{
    margin-bottom: max(2vh, 15px);
}
.footer-content{
    margin-top: max(2vh, 15px);
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*background-color: rgba(255,255,255,0.1);*/
}
.footer-text{
    width: 23%;
    position: relative;
    margin-left: 40px;
}
.footer-text::before{
    content: url("./images/icon-location.svg");
    position: absolute;
    left: -40px;
}
.contact-details p{
    margin-bottom: 10px;
}
.footer-phone{
    position: relative;
}
.footer-email{
    position: relative;
}
.footer-phone::before{
    content: url("./images/icon-phone.svg");
    position:absolute;
    left: -40px;
    top: 2px;
}
.footer-email::before{
    content: url("./images/icon-email.svg");
    position:absolute;
    left: -40px;
    top: 2px;
}
.footer-menu p{
    margin-bottom: 10px;
}
.social-container{
    /*background-color: rgba(255,255,255,0.1);*/
    width: max(8vw, 140px);
    display: flex;
    justify-content: space-between;
}
.social-link{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}
.social-link:hover{
    color:hsl(176, 68%, 64%);
    border-color: hsl(176, 68%, 64%);
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.attribution a{
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.attribution a:hover{
    color: lightblue;
}

@media (max-width: 1050px){
    .nav-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
        padding-left: max(3vw, 20px);
        padding-right: max(3vw, 20px);
    }
    .nav-container img{
        width: 100px;
    }
    .main-nav{
        min-width: 200px;
    }
    .main-nav a{
        font-size: 14px;
    }
    .first-sec-illustration{
        width: 80%;
    }
    .first-sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .first-sec-content{
        width: 90%;
        min-width: 0;
        text-align: center;
    }
    .big-header{
        font-size: 1.6rem;
    }
    .first-sec-text{
        min-width: 0;
        width: 100%;
        margin: 30px auto;
    }
    .second-sec{
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 100%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height: 1000px;
    }
    .top-left, .bottom-left{
        justify-self: center;
    }
    .third-sec{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 700px;
        margin: 40px 0;
    }
    .third-sec-illustration{
        max-width: 75%;
    }
    .third-sec-content{
        width: 90%;
        margin-top: 20px;
        margin-left: 0;
    }
    .third-sec-header{
        width: 100%;
        margin-bottom: 30px;
    }
    .third-sec-text{
        width: 100%;
        margin-bottom: 20px;
    }

    .testimonials-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: max(30vh, 300px);
    }
    .testimonial{
        width: 90%;
        padding: 30px;
        margin: 20px;
    }
    .get-access-card{
        width: 90%;
        min-height: 300px;
        padding: 20px;
        justify-content: space-between;
    }
    .get-access-form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 120px;
    }
    .email-and-error{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .email-input{
        margin: 0 auto;
        width: 80%;
    }
    .error-msg{
        font-size: 12px;
        text-align: left;
        padding-left: 12vw;
        display: none;
    }
    .get-access-button{
        width: 90%;
        max-width: 220px;
        padding: 1rem 1rem;
    }

    .footer-container{
        padding-left: max(5vw, 30px);
        padding-right: max(5vw, 30px);
        padding-top: 150px;
        padding-bottom: 60px;
        min-height: 800px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .footer-logo{
        width: 200px;
        margin-top: 50px;
        margin-bottom: max(2vh, 15px);
    }
    .footer-content{
        margin-top: max(2vh, 15px);
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer-text{
        width: 80%;
        position: relative;
        margin-bottom: 30px;
    }
    .footer-text, .footer-phone, .footer-email{
        margin-left: 40px;
    }
    .contact-details p{
        margin-bottom: 30px;
    }
    .footer-menu{
        margin-top: 30px;
    }
    .social-container{
        margin: 0 auto;
        margin-top: 30px;
    }
}